<section id="about" class="{{ content.field_background_color[0]['#markup'] }}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>{{ content.field_title }}</h2>
                <p class="lead">{{ content.field_description }}</p>
            </div>
        </div>
        <div class="row">
            {{ content.field_column }}
        </div>
    </div>
</section>