<section id="portfolio" class="lighter">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 text-center">
                <h2>{{ content.field_title }}</h2>
                <p class="lead">{{ content.field_description }}</p>
            </div>
                    {{ content.field_grid_view }}
        </div>
    </div>
</section>

