.mov
.DS_Store
.codekit-cache
.htaccess

# node files #
#####################
node_modules

# minified js files #
#####################
min/

# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
web/core
web/modules/contrib
web/libraries

# Core's dependencies are managed with Composer.
vendor
composer.phar

# Ignore configuration files that may contain sensitive information.
*services.yml
*settings.php

# Ignore paths that contain user-generated content.
*/files/*
*/private
web/sites/**/files/**/*