<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Claire Annan">
	<meta name="description" content="Portfolio and blog of a front end web developer (cannanso). Focused on Drupal theme development and Responsive Web Design with CSS3, HTML5 and jQuery. Available for contract opportunities in the Metro Atlanta area." />	
	<title>cannanso | Web Developer</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Over+the+Rainbow'>	
	<link rel="stylesheet" href="css/cannanso.css">
</head>
<!--[if IE]>
   <body class="ie">
<![endif]-->
<!--[if !IE]>-->
   <body class="page-home">
<!--<![endif]-->
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<div style='clear: both; height: 112px; padding:0; position: relative;'><a href="http://www.theie8countdown.com/ie-users-info"><img src="http://www.theie8countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div><![endif]-->	
	<header>
		<div class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu"><i class="fa fa-bars fa-2x"></i></button>
					<h1 class="logo"><a href="index.html">
						<img src="img/logo-white.png" alt="logo">
					</a></h1>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="nav navbar-nav navbar-pills navbar-right">
						<li><a href="#intro">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#testimonials">Testimonials</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section id="intro">
		<div class="container text-center">
			<p>Freelancer / Front End Developer</p>
			<h2>Building sites one <i>page</i> at a time.</h2>
			<a class="btn more" href="#portfolio">Go to Work</a>
		</div>		
	</section>

	<section id="about" class="light">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
				<h2>About</h2>
				<p class="lead">Hi! I'm Claire Annan, otherwise known as cannanso. I build web sites for a living. Here are some of my skills:</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-6 col-xs-12">
					<i class="fa fa-globe"></i>
					<div class="text">
						<h3>Front-End Development</h3>						
						<p>HTML5, CSS3, Javascript, jQuery, Photoshop, Sass, LESS, CodeKit</p>
					</div>					
					<i class="fa fa-tablet"></i>
					<div class="text">
						<h3>Responsive Web Design</h3>
						<p>Bootstrap, CSS media queries, Modernizr, shivs and polyfills, SVG fonts, iOS Simulator, Browserstack</p>
					</div>
				</div>
				<div class="col col-sm-6 col-xs-12">
					<i class="fa fa-drupal"></i>
					<div class="text">
						<h3>Drupal Theme Development</h3>
						<p>Drupal 7, PHP, MySQL, multi-site installation,  PSD to Theme</p>
					</div>
					<i class="fa fa-code-fork"></i>					
					<div class="text">
						<h3>Version Control</h3>
						<p>Git, Github, Beanstalk, Gitlab, Terminal, SSH, BASH, Sublime Text</p>
					</div>
				</div>							
			</div>
		</div>		
	</section>	

	<section id="portfolio" class="lighter">
		<div class="container">
			<div class="row">
				<div class="col col-xs-12 text-center">
					<h2>Portfolio</h2>			
				</div>
					<div class="grid row">
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>Thinkful Maps</h3>
								<span>jquery, ajax</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>Natural HairTube</h3>
								<span>responsive, jquery, ajax</span>
							</a>
						</div>						
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>NYC Quiz App</h3>
								<span>responsive, jquery, javascript</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>Shopping List App</h3>
								<span>jquery</span>
							</a>
						</div>						
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>Karma Landing Page</h3>
								<span>responsive, css</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-gpcnews-thumb.jpg" alt="GPC Newsroom">
							<a href="portfolio-gpcnews.html" class="caption">
								<h3>GPC Newsroom</h3>
								<span>drupal, php, html5, css3, responsive, jquery</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-gpcad-thumb.jpg" alt="GPC Admissions">
							<a href="portfolio-gpcad.html" class="caption">
								<h3>Georgia Perimeter College</h3>
								<span>drupal, php, html5, css3, responsive, JS</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-belle-thumb.jpg" alt="Belle Make-up">
							<a href="portfolio-belle.html" class="caption">
								<h3>Belle Make-up</h3>
								<span>wordpress, html5, css3, responsive, jQuery</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-todell-thumb.jpg" alt="Tom Odell">
							<a href="portfolio-todell.html" class="caption">
								<h3>Tom Odell Official</h3>
								<span>drupal, php, html5, css3</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img src="img/port-slystone-thumb.jpg" alt="Sly and The Family Stone Spotlight">
							<a href="portfolio-slystone.html" class="caption">
								<h3>Sly and the Family Stone</h3>
								<span>drupal, php, html5, css3</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-pmurray-thumb.jpg" alt="Pete Murray Anniversay Album">
							<a href="portfolio-pmurray.html" class="caption">
								<h3>Pete Murray Anniversay Album</h3>
								<span>drupal, html5, css3</span>
							</a>
						</div>
						<div class="grid-cell col-md-4 col-sm-6 col-xs-12">
							<img class="img-responsive" src="img/port-ajordan-thumb.jpg" alt="Alexis Jordan Official Site">
							<a href="portfolio-ajordan.html" class="caption">
								<h3>Alexis Jordan Official</h3>
								<span>drupal, html5, css3</span>
							</a>
						</div>	
					</div>
			</div>
		</div>
	</section>

	<section id="testimonials" class="dark">
		<div class="container">
			<div class="row text-center">
				<h2>Testimonials</h2>
				<div class="controls">
					<a href="#testimonials" class="prev" role="button" data-slide="prev"><i class="fa fa-angle-left fa-3x"></i></a>
					<a href="#testimonials" class="next" role="button" data-slide="next"><i class="fa fa-angle-right fa-3x"></i></a>	
				</div>
				<div class="wrapper">
					<div class="item active">
						<p>...Claire is super-diligent and takes complete ownership of any project she’s working on. Her expertise, especially in the area of web-development/Drupal, is something she generously and pro-actively shares with whomever she’s working with. Claire is a true delight to work with and know.</p>
						<a class="credit" href="https://www.linkedin.com/in/libbyswan" target="_blank">Libby Swan</a>
					</div>
					<div class="item">
						<p>Claire brings a high level of dedication, professionalism and grace to her work. We worked together on a large codebase migration and she did an excellent job tracking and executing the front end retrofit of over 100 sites to a new platform.</p>
						<a class="credit" href="https://www.linkedin.com/in/mollybyrnes" target="_blank">Molly Byrnes</a>
					</div>
					<div class="item">
						<p>Claire is a talented professional. She is dedicated and focused , really well organized , particularly skilled and capable of quick thinking in the process of problem solving. She can manage large scale projects as well as dealing with different tasks at the same time. It must be said that Claire is also a pleasure to work with, always resourceful and helpful.
						</p>
						<a class="credit" href="https://www.linkedin.com/in/andreanonni/en" target="_blank">Andrea Nonni</a>
					</div>	
					<div class="item">
						<p>Claire is detail oriented and very goal driven. Her creativity and knowledge is why her clients keep coming back. She puts the client first and readily listens and conforms to your needs and wants. It is a pleasure to work with her.</p>
						<a class="credit" href="https://www.linkedin.com/in/abigailcrandall" target="_blank">Abigail Crandall</a>
					</div>		
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="darker" ng-app="formApp" ng-controller="formController">
		<div class="container">
			<h2 class="text-center">Contact</h2>
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<h3>Locate</h3>
					<div class="location">
						<p>Based in Marietta, GA - USA. </p>
						<p>Will work remotely. Sometimes from a Starbucks.</p>
						<a href="https://www.starbucks.com/tweet-a-coffee/gift" target="_blank" alt="Tweet a Coffee">Tweet me a Coffee</a>
					</div>
					<h3>Connect</h3>
					<ul class="social list-unstyled list-inline">
						<li><a href="http://twitter.com/cannanso"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.linkedin.com/in/ClaireAnnan"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://github.com/cannanso"><i class="fa fa-github"></i></a></li>
						<li><a href="https://www.drupal.org/u/cannanso"><i class="fa fa-drupal"></i></a></li>
						<li><a href="https://drive.google.com/file/d/0Bzaidhw_s6vUa2wzSG90VnN3MTQ/view?ths=true"><i class="fa fa-file-pdf-o"></i></a></li>
					</ul>
				</div>
				<div class="col-md-8 col-xs-12">
					<h3>Communicate</h3>
					
					<div id="messages" ng-show="message">{{ message }}</div>

					<form id="form1" ng-submit="processForm()" novalidate>
						<div class="col col-md-6 has-error">
							<label class="sr-only" for="contactName">Your Name</label>
							<input class="form-control name" type="text" name="contactName" placeholder="Your Name:" ng-model="formData.contactName" required>
							<span ng-show="errorContactName && !formData.contactName.$untouched">{{errorContactName}}</span>
						</div>
						<div class="col col-md-6 has-error">
							<label class="sr-only" for="contactEmail">Your Email</label>
							<input type="email" class="form-control email" name="contactEmail" placeholder="Your Email:" ng-model="formData.contactEmail" required>
							<span ng-show="errorContactEmail && !formData.contactEmail.$pristine">{{errorContactEmail}}</span>
						</div>
						<div class="col col-md-12 has-error">
							<label class="sr-only" for="contactMessage">Your Message</label>
							<textarea rows="4" class="form-control" name="contactMessage" placeholder="Your Message:" ng-model="formData.contactMessage" required></textarea>
							<span ng-show="errorContactMessage && !formData.contactMessage.$untouched">{{errorContactMessage}}</span>
						</div>
						<div class="col col-md-12">
							<button type="submit" class="btn btn-default form-control">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="darker">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 copy">&copy; cannanso. All Rights Reserved.</div>
				<a href="#" class="top-link"><i class="fa fa-chevron-circle-up fa-3x" alt="Back to Top"></i><span class="sr-only">Top</span></a>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="js/cannanso.js"></script>
	<script src="js/app.js"></script>
	
</body>
</html>