<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu"><i class="fa fa-bars fa-2x"></i></button>
            <h1 class="logo"><a href="{{ front_page }}">
                    <img src="/{{ directory }}/img/logo-white.png" alt="logo"></a>
            </h1>
        </div>
        {{ page.header }}
    </div>
</div>