<div class="grid-cell">
    <a href="{{ url }}">
        {{ content.field_portfolio_thumb }}
        <div class="caption">
            <h3>{{ content.field_portfolio_thumb_title }}</h3>
            <span>{{ content.field_blog_tags }}</span>
        </div>
    </a>
</div>
